@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #1d1d1d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #1d1d1d;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
